
.login {
    width: 400px;
    height: 300px;
    border: 1px solid grey;
    text-align: center;
    margin: 0 auto;
    background-color:aqua   ;
    margin-top: 200px;
    
}
.login h1 {
    color: #868787;
    font-family: sans-serif;
 
}

.login input {
    width: 200px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid grey;
    padding-left: 20px;
}
.login button {
    width: 210px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    background-color: #000;
    color: #fff;
}
.login button:hover{
    font-size: 15px;
}